:root {
    --text-color: #1a1a1a;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Patrick Hand', cursive;
    background-color: var(--background-color);
}

a{
    color: var(--link-color);
    text-decoration: none;
}

/* NAVBAR */
nav{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;  
}

nav .left a {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 400;
}

nav .right a {
    color: var(--text-color);
    margin: 0 10px;
}

nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a span{
    margin-left: 5px;
}


/* SECTION 1: Tshiamo*/

.tshiamo-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 50px ;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
}

.tshiamo-section .text{
    flex: 8;
}

.tshiamo-section .text p{
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.5;
}

.tshiamo-section .myphoto{
    flex: 2;
    display: flex;
    justify-content: right;
}

.tshiamo-section .myphoto img{
    width: 200px;
    border-radius: 50%; 
}


.tshiamo-section .text h2{
    font-size: 45px;
}

.tshiamo-section .text .links{
    margin-top: 25px;
}

.tshiamo-section .text .links a{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px; 
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
}

.tshiamo-section .text .links a:hover{
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

/* SECTION 2: Skills */
.skills-section{
    padding: 0 50px ;
    margin-bottom: 100px;
}   

.skills-section h2{
    text-align: center;
    font-size: 35px;
}

.skills-section .text{
    text-align: center;
    font-size: 25px;
}

.skills-section .cells{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section .cells .cell{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 200px;
  padding: 10px 20px;
  border: 1.5px solid var(--text-color);
  border-radius: 5px;
  margin: 10px;

}   


.skills-section .cells .cell img{
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 2px;
    margin-right: 15px;
}

.skills-section .cells .cell span{
    font-size: 18px;
}


/* SECTION 3: Experience */

.experience-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.experience-section h2{
    font-size: 36px;
    margin-bottom: 40px;
    font-weight: 600;
    text-align: center;
}

/* Card container */
.experience-section .group {
    background-color: var(--background-color);
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 25px var(--text-color);
}

/* Horizontal layout */
.experience-section .group .headshot {
    display: flex;
    align-items: center;
    gap: 30px; 
   
}

/* Headshot image */
.experience-section .group .headshot img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
     margin-left: 200px;
    flex-shrink: 0;
    border: 3px solid var(--background-color);
}

/* Text content */
.experience-section .group .headshot p {
    max-width: 750px;
    line-height: 1.7;
    font-size: 16px;
    color: var(--text-color);
}



/* SECTION 4: Content*/
.contact-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.contact-section h2 {
    font-size: 35px;
    text-align: center;
}

.contact-section .group {
    display: flex;
    gap: 50px;
}

.contact-section .group .text{
    flex: 3;
    margin-top: 20px;
    font-size: 25px;
}

.contact-section .group form {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea{
    font-family: 'poppins', sans-serif;
    border: 2px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
}

.contact-section .group form button{
    font-size: 16px;
    font-family: 'poppins', sans-serif;
    color:#fff;
    background-color: var(--link-color);
    border: none;
    height: 50px;
    cursor: pointer;
    transition: .1s;
}

.contact-section .group form button:hover{
    filter: brightness(.9)
}

@media (max-width: 850px){
    /* SECTION 1: tshiamo */
    .tshiamo-section .text h2{
        font-size: 35px;
    }

}

@media (max-width: 740px){
    /* SECTION 1: tshiamo */
    .tshiamo-section{
        flex-direction: column-reverse;
    }
} 

@media (max-width: 600px){
    /* NAVBAR RESPONSIVE */
    nav{
        padding: 0 20px;
    }

    nav .right a{
        font-size: 22px;
    }

    nav .right a:last-child{
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
    }

    nav .right a span{
        display: none;
    }
}
 